// Fonts
@import url(https://fonts.googleapis.com/css?family=Satisfy|Open+Sans);
// Variables
@import "variables_ej";
// Purecss
@import "node_modules/purecss/build/pure";
@import "node_modules/purecss/build/grids-responsive";
@import "app";

html {
  font-size: 15px;
  font-family: $font-family-1;
  background-color: #fffde7;
}

@media screen and (max-width: 568px) {
  html {
    font-size: 13px;
  }
}

.pure-g [class*="pure-u"] {
  font-family: $font-family-1;
}
a {
  text-decoration: none;
}
.pure-g.ej-template {
  display: flex;
}

header {
  background: url('../images/dark_wood.png');
  padding: 1rem;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  line-height: 2.5rem;

  a {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
  }
}

.right-pane {
  background: url('../images/dark_wood.png');
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  border-radius: 0 0 0 15px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  min-height: 500px;
  overflow: hidden;

  .perso .name {
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .perso i {
    font-size: 18em;
    color: white;
  }
  .bottom {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    text-align: right;
  }
  .bottom a {
    width: 100%;
  }
}

.left-pane div.content {
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  color: black;

  .center-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
  }
  .lieu-name {
    font-family: $font-family-2;
    font-size: 2rem;
  }
  .description {
    font-family: $font-family-1;
    font-size: 1.2em;
    line-height: 1.8rem;
    font-weight: normal;
  }
  .chapitre-name, .post-name {
    font-family: $font-family-2;
    font-size: 1.8rem;
  }

  /*listes de lieux, de chapitres*/
  .collection {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    position: relative;
    background: url('../images/lightpaperfibers.png');

    .collection-item {
      line-height: 1.5rem;
      padding: 1rem;
      border-bottom: 1px solid #e0e0e0;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: black;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* chapitre avec sa liste de posts */
  .chapitre {
    overflow: hidden;
    position: relative;
  }

  .chapitre .post, .wrapping-message-form {
    line-height: 1.5rem;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    background: url('../images/lightpaperfibers.png');
    margin-bottom: 1.5rem;

    h2 {
      margin-top: 0;
    }

    .entete {
      font-family: $font-family-2;
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    .contenu {
      font-family: $font-family-1;
      font-size: 1.2em;
      line-height: 1.8rem;
    }

    input, textarea {
      background: rgba(255,255,255,0.5) ;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .pure-button-primary, a.pure-button-primary {
    background-color: #00695c;
    color: white;
  }

  input, textarea {
    width: 100%;
  }

  textarea#texte {
    height: 500px;
  }

  h2 a {
    color: black;
    text-decoration: underline;
  }
}
